{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'orders/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.5.0-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.5.0-dist/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.5.0-dist/css/bootstrap-reboot.min.css' %}">
    {% block head %}{% endblock %}
  </head>
  <body>
    <div style="background-color:green; height:100%; min-height: 100vh;">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-sm navbar-light bg-red-nav fixed-top">
        <a class="navbar-brand text-white" href="#">Pizza</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto text-white justify-content-between" style="margin-right: 0px !important; width: 95%;">
            <li class="nav-item active">
              <a class="nav-link text-white" href="{% url 'index' %}">Menu<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'cart' %}">
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-basket3 text-white" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10.243 1.071a.5.5 0 0 1 .686.172l3 5a.5.5 0 1 1-.858.514l-3-5a.5.5 0 0 1 .172-.686zm-4.486 0a.5.5 0 0 0-.686.172l-3 5a.5.5 0 1 0 .858.514l3-5a.5.5 0 0 0-.172-.686z"/>
                  <path d="M0 6.5A.5.5 0 0 1 .5 6h15a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1zM.81 9c0 .035.004.07.011.105l1.201 5.604A1 1 0 0 0 3 15.5h10a1 1 0 0 0 .978-.79l1.2-5.605A.495.495 0 0 0 15.19 9h-1.011L13 14.5H3L1.821 9H.81z"/>
                </svg>
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Navbar end -->
      {% block body %}
      {% endblock %}
    </div>
      <script type="text/javascript" src="{% static 'orders/index.js' %}"></script>
      <script type="text/javascript" src="{% static 'bootstrap-4.5.0-dist/js/jquery/jquery-3.4.1.slim.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'bootstrap-4.5.0-dist/js/popper/popper.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'bootstrap-4.5.0-dist/js/bootstrap/bootstrap.min.js' %}"></script>
  </body>
</html>
