.bg-red-nav {
  background-color: red
}

.text-tabs-white {
  color: white
}

.text-tabs-white:hover {
  color: green
}

/* .bg-red {
  background-color: red
} */

.bgrh {
  background-color: red !important
}

input[type='radio'] {
    height: 15px;
    width: 15px;
    vertical-align: top;
}

input[type='checkbox'] {
  height: 15px;
  width: 15px;
  vertical-align: top
}

.btn-order:hover {
  background-color: white !important;
  border: solid 1px red;
  color: red !important
}
