{% extends "base.html" %}

{% block head %}
  <title>Log In</title>
{% endblock %}

{% block body %}
  <input type="hidden" name="pageName" id="pageName" value="login">
  <div class="p-5" style="background-color: green; width: 100%; min-height: 100vh;">
    <div class="card mx-3">
      <div class="card-header">
      <h2>Login</h2>
      </div>
      <div class="card-body">
        <form method="post">
          <div class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
          </div>
          <div class="row justify-content-between mr-5 pl-3">
            <button type="submit" class="btn btn-success">Login</button>
            <a href="{% url 'password_reset' %}">Forgot Password?</a>
            <a type="button" class="btn btn-secondary" href="{% url 'signup' %}">Sign Up</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
