{% extends "base/base.html" %}

{% block head %}

{% endblock %}

{% block body %}
  <div class="bg-green" style="background-color: green; height: 110%;">
    <div class="container bg-green pt-4 pb-4" style="height:100%; min-height:110vh;">
      <div style="height:57px;"></div>
      <div class="column">
        <div class="card">
          <div class="body row p-2 pl-4">
            <h5 class="card-title m-0">Regular Pizza</h5>
          </div>
        </div>
    </div>
  </div>
{% endblock %}
