{% extends "base/base.html" %}

{% block head %}
  <title>Menu</title>
{% endblock %}

{% block body %}
  <!-- Body main -->
  <div class="bg-green" style="background-color: green; height: 110%;">
    <div class="container bg-green pt-4 pb-4" style="height:100%; min-height:110vh;">
      <div style="height:57px;"></div>
      <div class="overflow-auto">
        <!-- tabs -->
        <div class="card text-center">
          <div class="card-header" style="background-color: red;">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link text-tabs-white active" id="pizza-tab" data-toggle="tab" href="#pizza" role="tab" aria-controls="pizza" aria-selected="true">Pizzas</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link text-tabs-white" id="sub-tab" data-toggle="tab" href="#sub" role="tab" aria-controls="sub" aria-selected="false">Subs</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link text-tabs-white" id="pasta-tab" data-toggle="tab" href="#pasta" role="tab" aria-controls="pasta" aria-selected="false">Pasta</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link text-tabs-white" id="salad-tab" data-toggle="tab" href="#salad" role="tab" aria-controls="salad" aria-selected="false">Salads</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link text-tabs-white" id="dinnerPlatter-tab" data-toggle="tab" href="#dinnerPlatter" role="tab" aria-controls="dinnerPlatter" aria-selected="false">Dinner Platters</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content" id="myTabContent">
              <!-- Pizza Tab -->
              <div class="tab-pane fade show active" id="pizza" role="tabpanel" aria-labelledby="pizza-tab">
                <table class="table table-borderless mb-0 mt-2">
                  <tbody>
                    <tr>
                      <td class="col-8 text-left va-middle" style="width: 66.666666%"><h3>Regular Pizza</h3></td>
                      <td class="col-4" style="width: 33.333333%">
                        <a class="btn text-white bg-red bgrh btn-block pizza" type="button" data-type="Regular Pizza" data-toggle="modal" data-target="#pizzaModal">Order Regular Pizza</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-8 text-left va-middle" style="width: 66.666666%"><h3>Sicilian Pizza</h3></td>
                      <td class="col-4" style="width: 33.333333%">
                        <a class="btn text-white bg-red bgrh btn-block pizza" type="button" data-type="Sicilian Pizza" data-toggle="modal" data-target="#pizzaModal">Order Sicilian Pizza</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- Pizza Tab end -->
              <!-- Sub Tab -->
              <div class="tab-pane fade" id="sub" role="tabpanel" aria-labelledby="sub-tab">
                <table class="table table-borderless mb-0 mt-3">
                  <thead>
                    <tr>
                      <th class="col-8 text-left">Name</th>
                      <th class="col-2">Small</th>
                      <th class="col-2">Large</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for sub in subs %}
                      <tr id="{{sub.id}}">
                        <td class="col-8 text-left">{{sub.name}}</td>
                        <input type="hidden" class="value" value="{{sub.prizeSmall}}">
                        <input type="hidden" class="value" value="{{sub.prizeLarge}}">
                        <td class="col-2"><a href="" class="btn text-white price" style="background-color:red;"></a></td>
                        <td class="col-2"><a href="" class="btn text-white price" style="background-color:red;"></a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- Sub Tab end -->
              <!-- Pasta Tab -->
              <div class="tab-pane fade" id="pasta" role="tabpanel" aria-labelledby="pasta-tab">
                <table class="table table-borderless mb-0 mt-3">
                  <thead>
                    <tr>
                      <th class="col-8 text-left">Name</th>
                      <th class="col-2">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for pasta in pastas %}
                      <tr id="{{pasta.id}}">
                        <td class="col-8 text-left">{{pasta.name}}</td>
                        <input type="hidden" class="value" value="{{pasta.prizeSmall}}">
                        <td class="col-2"><a href="" class="btn text-white price" style="background-color:red;"></a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- Pasta Tab end -->
              <!-- Salad Tab -->
              <div class="tab-pane fade" id="salad" role="tabpanel" aria-labelledby="salad-tab">
                <table class="table table-borderless mb-0 mt-3">
                  <thead>
                    <tr>
                      <th class="col-8 text-left">Name</th>
                      <th class="col-2">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for salad in salads %}
                      <tr id="{{salad.id}}">
                        <td class="col-8 text-left">{{salad.name}}</td>
                        <input type="hidden" class="value" value="{{salad.prizeSmall}}">
                        <td class="col-2"><a href="" class="btn text-white price" style="background-color:red;"></a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- Salad Tab end -->
              <!-- Dinner Platter Tab -->
              <div class="tab-pane fade" id="dinnerPlatter" role="tabpanel" aria-labelledby="dinnerPlatter-tab">
                <table class="table table-borderless mb-0 mt-3">
                  <thead>
                    <tr>
                      <th class="col-8 text-left">Name</th>
                      <th class="col-2">Small</th>
                      <th class="col-2">Large</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for platter in dinnerPlatters %}
                      <tr id="{{platter.id}}">
                        <td class="col-8 text-left">{{platter.name}}</td>
                        <input type="hidden" class="value" value="{{platter.prizeSmall}}">
                        <input type="hidden" class="value" value="{{platter.prizeLarge}}">
                        <td class="col-2"><a href="" class="btn text-white price" style="background-color:red;"></a></td>
                        <td class="col-2"><a href="" class="btn text-white price" style="background-color:red;"></a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- Dinner Platter Tab end -->
            </div>
          </div>
          <!-- Card Body end -->
        </div>
        <!-- Tabs Card end -->
      </div>
    </div>
  </div>
  <!-- Main Body end -->
</div>

<!-- Modals and Templates -->
<!-- Modals -->
<div class="modal fade" id="pizzaModal" tabindex="-1" role="dialog" aria-labelledby="pizzaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="pizzaModalLabel"></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Pizza Form -->
        <form>
          <input type="hidden" id="pizzaType" value="">
          <div class="row ml-3">
            <div class="form-group form-check col-6">
              <input type="radio" class="form-check-input" name="sizeReg" id="small" value="small" checked>
              <label class="form-check-label" for="small">Small</label>
            </div>
            <div class="form-group form-check col-6">
              <input type="radio" class="form-check-input" name="sizeReg" id="large" value="large">
              <label class="form-check-label" for="large">Large</label>
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="firstTop">First Item</label>
            </div>
            <select class="custom-select pizzaTops" id="firstTop">
              <option value="noValue">Choose...</option>
              {% for topping in toppings %}
                <option value="{{topping.id}}">{{topping.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="secondTop">Second Item</label>
            </div>
            <select class="custom-select pizzaTops" id="secondTop" disabled>
              <option value="noValue">Choose...</option>
              {% for topping in toppings %}
                <option value="{{topping.id}}">{{topping.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="thirdTop">Third Item</label>
            </div>
            <select class="custom-select pizzaTops" id="thirdTop" disabled>
              <option value="noValue">Choose...</option>
              {% for topping in toppings %}
                <option value="{{topping.id}}">{{topping.name}}</option>
              {% endfor %}
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer row justify-content-between mx-2">
        <button type="button" class="btn btn-outline-danger" id="closePizzaModal" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Order</button>
      </div>
    </div>
  </div>
{% endblock %}
