{% extends "base/base.html" %}

{% block head %}
  <title>Menu</title>
{% endblock %}

{% block body %}
  <div style="background-color:green; height:100%;">
    <nav class="navbar navbar-expand-sm navbar-light fixed-top py-0" style="background-color: red;">
      <a class="navbar-brand text-white mr-5" href="#">Pizza</a>
      <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mb-1">
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#Pizzas">Pizzas</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#Subs">Subs</a>
          </div>
        </li>
        </ul>
      </div>
    </nav>
    <div class="bg-green" style="background-color: green; height: 110%;">
      <div class="container bg-green pt-4 pb-4" style="height:100%; min-height:110vh;">
        <div style="height:57px;" id="Pizzas"></div>
        <div class="card" style="width: 100%;">
          <div class="card-header"><h4 class="mb-0">Pizzas</h4></div>
          <div class="card-body pb-1" style="padding-top: 0px;">
            <table class="table table-borderless mb-0 mt-2">
              <thead>
              <tr>
                <td class="col-8">Regular Pizza</td>
                <td class="col-2"><a href="" class="btn text-white" style="background-color:red;">Small</a></td>
                <td class="col-2"><a href="" class="btn text-white" style="background-color:red;">Large</a></td>
              </tr>
              <tr>
                <td class="col-8">Sicilian Pizza</td>
                <td class="col-2"><a href="" class="btn text-white" style="background-color:red;">Small</a></td>
                <td class="col-2"><a href="" class="btn text-white" style="background-color:red;">Large</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div id="Subs" style="height:57px; display:hide;"></div>
        <div class="accordion" id="accordionExample">
          <div class="card" style="width:100%;">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <a class="btn btn-link btn-block text-left p-0 justify-content-between row" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h4 class="mb-0" style="padding-left:20px;">Subs</h4>
                  <span class="text-muted" style="padding-top:3px;">Click to Expand the Sub-Menu</span>
                </a>
              </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body pb-1" style="padding-top:0%;">
                <table class="table table-borderless mb-0 mt-3">
                  <thead>
                    <tr>
                      <th class="col-8">Name</th>
                      <th class="col-2">Small</th>
                      <th class="col-2">Large</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for sub in subs %}
                      <tr>
                        <td class="col-8">{{sub.name}}</td>
                        <td class="col-2"><a href="" class="btn text-white" style="background-color:red;">${{sub.prizeSmall}}</a></td>
                        <td class="col-2"><a href="" class="btn text-white" style="background-color:red;">${{sub.prizeLarge}}</a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
