{% extends "base.html" %}

{% block head %}
  <title>Menu</title>
{% endblock %}

{% block body %}
  {% if user.is_authenticated %}
  <input type="hidden" name="pageName" id="pageName" value="menu">
  <input type="hidden" name="currentUser" id="currentUser" value="{{ user.username }}">
  <!-- Navbar -->
  <!-- <nav class="navbar navbar-expand-sm navbar-light bg-red-nav fixed-top shadow" id="navbar">
    <a class="navbar-brand text-white" href="#" style="margin-bottom: 4px">Pizza</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-2 text-white justify-content-between" style="margin-right: 0px !important; width: 95%;">
        <li class="nav-item active row ml-2">
          <a class="nav-link text-white" href="{% url 'index' %}">Menu<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown dropdown-menu-right">
          <div class="d-flex row text-light dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="p-0 pl-4">
              <svg class="bi bi-person-circle" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="margin-top: 6px;">
                  <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                  <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                  <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
              </svg>
            </div>-->
            <!-- username top right corner -->
            <!-- <h4 class="" style="margin-top: 3px; padding-left: 5px;">{{ user.username }}</h3>
          </div>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'cart' %}">
              <div class="row">
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-basket3 col-3 p-0" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10.243 1.071a.5.5 0 0 1 .686.172l3 5a.5.5 0 1 1-.858.514l-3-5a.5.5 0 0 1 .172-.686zm-4.486 0a.5.5 0 0 0-.686.172l-3 5a.5.5 0 1 0 .858.514l3-5a.5.5 0 0 0-.172-.686z"/>
                  <path d="M0 6.5A.5.5 0 0 1 .5 6h15a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1zM.81 9c0 .035.004.07.011.105l1.201 5.604A1 1 0 0 0 3 15.5h10a1 1 0 0 0 .978-.79l1.2-5.605A.495.495 0 0 0 15.19 9h-1.011L13 14.5H3L1.821 9H.81z"/>
                </svg>
                <p class="col-9">Cart</p>
              </div>
            </a>
            <a class="dropdown-item" href="#"></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav> -->
  <!-- Navbar end -->
  <!-- Body main -->
  <div class="bg-green" style="background-color: green; height: 110%;">
    <div class="container bg-green pt-4 pb-4" style="height:100%; min-height:110vh;">
      <div style="height:57px;"></div>
      <div class="overflow-auto">
        <!-- tabs -->
        <div class="card text-center">
          <div class="card-header" style="background-color: red;">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link text-tabs-white active" id="pizza-tab" data-toggle="tab" href="#pizza" role="tab" aria-controls="pizza" aria-selected="true">Pizzas</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link text-tabs-white" id="sub-tab" data-toggle="tab" href="#sub" role="tab" aria-controls="sub" aria-selected="false">Subs</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link text-tabs-white" id="pasta-tab" data-toggle="tab" href="#pasta" role="tab" aria-controls="pasta" aria-selected="false">Pasta</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link text-tabs-white" id="salad-tab" data-toggle="tab" href="#salad" role="tab" aria-controls="salad" aria-selected="false">Salads</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link text-tabs-white" id="dinnerPlatter-tab" data-toggle="tab" href="#dinnerPlatter" role="tab" aria-controls="dinnerPlatter" aria-selected="false">Dinner Platters</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content" id="myTabContent">
              <!-- Pizza Tab -->
              <div class="tab-pane fade show active" id="pizza" role="tabpanel" aria-labelledby="pizza-tab">
                <table class="table table-borderless mb-0 mt-2">
                  <tbody>
                    <tr>
                      <td class="col-6 text-left va-middle" style="width: 50%"><h3>Regular Pizza</h3></td>
                      <td class="col-2 text-center" style="width: 16.666666%">
                        {% if menu.open_order %}
                          ({{menu.regPizzaCount}})
                        {% endif %}
                      </td>
                      <td class="col-4" style="width: 33.333333%">
                        <a class="btn text-white bg-red bgrh btn-block pizza btn-order" type="button" data-pizza="Regular Pizza" data-toggle="modal" data-target="#pizzaModal">Order Regular Pizza</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-8 text-left va-middle" style="width: 50%"><h3>Sicilian Pizza</h3></td>
                      <td class="col-2 text-center" style="width: 16.666666%">
                        {% if menu.open_order %}
                          ({{menu.sicPizzaCount}})
                        {% endif %}
                      </td>
                      <td class="col-4" style="width: 33.333333%">
                        <a class="btn text-white bg-red bgrh btn-block pizza btn-order" type="button" data-pizza="Sicilian Pizza" data-toggle="modal" data-target="#pizzaModal">Order Sicilian Pizza</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- Pizza Tab end -->
              <!-- Sub Tab -->
              <div class="tab-pane fade" id="sub" role="tabpanel" aria-labelledby="sub-tab">
                <table class="table table-borderless mb-0 mt-3">
                  <thead>
                    <tr>
                      <th class="col-8 text-left">Name</th>
                      <th class="col-2">Small</th>
                      <th class="col-2">Large</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- <tr id="Sub no123">
                      <td class="col-8 text-left">LUL SUB</td>
                      <input type="hidden" class="value" value="123">
                      <input type="hidden" class="value" value="234">
                      <td class="col-2">
                        <a href="" class="btn text-white price bgrh btn-order" data-dish="sub" data-orderID="123" data-size="small" data-order="Small mango Sub" data-price="123" data-toggle="modal" data-target="#menuModal" id="lalilu"></a>
                      </td>
                      <td class="col-2">
                        <a href="" class="btn text-white price bgrh btn-order" data-dish="sub" data-orderID="234" data-size="large" data-order="Large mango Sub" data-price="234" data-toggle="modal" data-target="#menuModal" id="lilula"></a>
                      </td>
                    </tr> -->
                    {% for sub in menu.subs %}
                      <tr id="Sub no{{sub.id}}">
                        <td class="col-6 text-left">{{sub.name}}</td>
                        <input type="hidden" class="value" value="{{sub.priceSmall}}">
                        <input type="hidden" class="value" value="{{sub.priceLarge}}">
                        <!-- <td class="col-2 text-center">
                          {% if menu.open_order %}
                            ({{menu.subCount}})
                          {% endif %}
                        </td> -->
                        <td class="col-2">
                          <a href="" class="btn text-white price bgrh btn-order" data-dish="sub" data-orderID="{{sub.id}}" data-size="small" data-order="Small {{sub.name}} Sub" data-price="{{sub.priceSmall}}" data-toggle="modal" data-target="#menuModal"></a>
                        </td>
                        <td class="col-2">
                          <a href="" class="btn text-white price bgrh btn-order" data-dish="sub" data-orderID="{{sub.id}}" data-size="large" data-order="Large {{sub.name}} Sub" data-price="{{sub.priceLarge}}" data-toggle="modal" data-target="#menuModal"></a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- Sub Tab end -->
              <!-- Pasta Tab -->
              <div class="tab-pane fade" id="pasta" role="tabpanel" aria-labelledby="pasta-tab">
                <table class="table table-borderless mb-0 mt-3">
                  <thead>
                    <tr>
                      <th class="col-8 text-left">Name</th>
                      <th class="col-2">Price</th>
                    </tr>
                  </thead>
                  <!-- <tbody>
                    <tr id="Pasta no23">
                      <td class="col-8 text-left">Mango Pasta</td>
                      <input type="hidden" class="value" value="12345">
                      <td class="col-2"><a href="" class="btn text-white price bgrh btn-order" data-dish="pasta" data-orderID="{{pasta.id}}" data-size="small" data-order="Pasta Mango" data-price="110" data-toggle="modal" data-target="#menuModal" id="mangoPasta"></a></td>
                    </tr> -->
                    {% for pasta in menu.pastas %}
                      <tr id="Pasta no{{pasta.id}}">
                        <td class="col-8 text-left">{{pasta.name}}</td>
                        <!-- <td class="col-2 text-center">
                          {% if menu.open_order %}
                            ({{menu.pastaCount}})
                          {% endif %}
                        </td> -->
                        <input type="hidden" class="value" value="{{pasta.priceSmall}}">
                        <td class="col-2"><a href="" class="btn text-white price bgrh btn-order" data-dish="pasta" data-orderID="{{pasta.id}}" data-size="small" data-order="Pasta {{pasta.name}}" data-price="{{pasta.priceSmall}}" data-toggle="modal" data-target="#menuModal"></a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- Pasta Tab end -->
              <!-- Salad Tab -->
              <div class="tab-pane fade" id="salad" role="tabpanel" aria-labelledby="salad-tab">
                <table class="table table-borderless mb-0 mt-3">
                  <thead>
                    <tr>
                      <th class="col-8 text-left">Name</th>
                      <th class="col-2">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for salad in menu.salads %}
                      <tr id="Salad no{{salad.id}}">
                        <td class="col-8 text-left">{{salad.name}}</td>
                        <!-- <td class="col-2 text-center">
                          {% if menu.open_order %}
                            ({{menu.saladCount}})
                          {% endif %}
                        </td> -->
                        <input type="hidden" class="value" value="{{salad.priceSmall}}">
                        <td class="col-2"><a href="" class="btn text-white price bgrh btn-order" data-dish="salad" data-orderID="{{salad.id}}" data-size="small" data-order="{{salad.name}}" data-price="{{salad.priceSmall}}" data-toggle="modal" data-target="#menuModal"></a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- Salad Tab end -->
              <!-- Dinner Platter Tab -->
              <div class="tab-pane fade" id="dinnerPlatter" role="tabpanel" aria-labelledby="dinnerPlatter-tab">
                <table class="table table-borderless mb-0 mt-3">
                  <thead>
                    <tr>
                      <th class="col-8 text-left">Name</th>
                      <th class="col-2">Small</th>
                      <th class="col-2">Large</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for platter in menu.dinnerPlatters %}
                      <tr id="Platter no{{platter.id}}">
                        <td class="col-6 text-left">{{platter.name}}</td>
                        <!-- <td class="col-2 text-center">
                          {% if menu.open_order %}
                            ({{menu.platterCount}})
                          {% endif %}
                        </td> -->
                        <input type="hidden" class="value" value="{{platter.priceSmall}}">
                        <input type="hidden" class="value" value="{{platter.priceLarge}}">
                        <td class="col-2"><a href="" class="btn text-white price bgrh btn-order" data-dish="platter" data-orderID="{{platter.id}}" data-size="small" data-order="{{platter.name}} Small" data-price="{{platter.priceSmall}}" data-toggle="modal" data-target="#menuModal"></a></td>
                        <td class="col-2"><a href="" class="btn text-white price bgrh btn-order" data-dish="platter" data-orderID="{{platter.id}}" data-size="large" data-order="{{platter.name}} Large" data-price="{{platter.priceLarge}}" data-toggle="modal" data-target="#menuModal"></a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- Dinner Platter Tab end -->
            </div>
          </div>
          <!-- Card Body end -->
        </div>
        <!-- Tabs Card end -->
      </div>
    </div>
  </div>
  <!-- Main Body end -->

  <!-- Modals and Templates -->
  <!-- Modals -->
  <div class="modal fade" id="pizzaModal" tabindex="-1" role="dialog" aria-labelledby="pizzaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="pizzaModalLabel"></h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Pizza Form -->
          <form action="{% url 'addToCart' 0 %}" method="POST" id="pizzaForm">
            {% csrf_token %}
            <input type="hidden" name="pizzaType" id="pizzaType" value="">
            <div class="row ml-3">
              <div class="form-group form-check col-6">
                <input type="radio" class="form-check-input pizzaSize" name="pizzaSize" id="small" value="small" checked>
                <label class="form-check-label font-weight-bold" for="small">Small</label>
              </div>
              <div class="form-group form-check col-6">
                <input type="radio" class="form-check-input pizzaSize" name="pizzaSize" id="large" value="large">
                <label class="form-check-label font-weight-bold" for="large">Large</label>
              </div>
            </div>
            <div class="form-group ml-3">
              <div class="form-group form-check col-6">
                <input type="checkbox" class="form-check-input pizzaSpecial" name="pizzaSpecial" id="pizzaSpecial">
                <label for="form-check-label m-0 pizzaSpecial" class="font-weight-bold">Special Offer for Today</label>
              </div>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="firstTop">First Item</label>
              </div>
              <select class="custom-select pizzaTops" id="firstTop" name="firstTop" data-tops="1" data-topping="firstTop">
                <option value="noValue">Cheese Only</option>
                {% for topping in menu.toppings %}
                  <option value="{{topping.id}}">{{topping.name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="secondTop">Second Item</label>
              </div>
              <input type="hidden" name="secondTop" value="noValue" id="hidden2ndTop">
              <select class="custom-select pizzaTops" id="secondTop" name="secondTop" data-tops="2" data-topping="secondTop" disabled>
                <option value="noValue">Choose...</option>
                {% for topping in menu.toppings %}
                  <option value="{{topping.id}}">{{topping.name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="thirdTop">Third Item</label>
              </div>
              <input type="hidden" name="thirdTop" value="noValue" id="hidden3rdTop">
              <select class="custom-select pizzaTops" id="thirdTop" name="thirdTop" data-tops="3" data-topping="thirdTop" disabled>
                <option value="noValue">Choose...</option>
                {% for topping in menu.toppings %}
                  <option value="{{topping.id}}">{{topping.name}}</option>
                {% endfor %}
              </select>
            </div>
          </form>
          <hr class="py-2">
          <div class="px-4 text-right">
            <div class="row">
              <h6 class="text-muted col-6 p-0 text-left" id="priceNotice"></h6>
              <h5 id="pizzaStandartPrice" class="offset-4"></h5>
            </div>
            <div class="mx-2">
              <div class="row collapse">
                <h6 class="text-muted col-4 p-0 text-left">first Topping</h6>
                <div class="offset-6 text-right col3 row">
                  <h5>+</h5>
                  <h5 id="pizzaPriceOne">1.00</h5>
                </div>
              </div>
              <div class="row collapse">
                <h6 class="text-muted col-4 p-0 text-left">second Topping</h6>
                <div class="offset-6 text-right col3 row">
                  <h5>+</h5>
                  <h5 id="pizzaPriceTwo">1.00</h5>
                </div>
              </div>
              <div class="row collapse">
                <h6 class="text-muted col-4 p-0 text-left">third Topping</h6>
                <div class="offset-6 text-right col3 row">
                  <h5>+</h5>
                  <h5 id="pizzaPriceThree">1.00</h5>
                </div>
              </div>
            </div>
            <hr class="pt-2 mb-1">
            <h4 id="pizzaPrice"></h4>
          </div>
        </div>
        <div class="modal-footer row justify-content-between mx-2">
          <button type="button" class="btn btn-outline-secondary" id="closePizzaModal" data-dismiss="modal">Close</button>
          <button type="submit" form="pizzaForm" class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Pizza Modal end -->
  <!-- Menu Modal -->
  <div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="menuModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="menuModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3 id="menuPriceLabel" class="my-3 mt-3"></h3>
          <form id="menuOrderForm" class="collapse" method="POST" action="{% url 'addToCart' 1 %}">
            {% csrf_token %}
            <input type="hidden" name="dishID" id="dishID" value="">
            <input type="hidden" name="dishSize" id="dishSize" value="">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="extraCheese" name="extraCheese">
              <label class="custom-control-label" for="extraCheese">Extra Cheese (+ $0.50)</label>
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-secondary ml-2" data-dismiss="modal">Close</button>
          <button type="submit" form="menuOrderForm" class="btn btn-primary mr-2" id="menuAddToCart">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="text-center p-5">
    <div class="card text-white bg-danger border-dark-red">
      <div class="card-body">
        <h5 class="card-title">You are not logged in</h5>
        <a href="{% url 'login' %}" class="btn btn-primary card-link">Log In</a>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}
